<div class='my-navbar'>
  <%= link_to 'Wikinimous', articles_path, class: 'nb-links', id: 'main' %>
  <%= link_to 'New Article', new_article_path, class: 'nb-links' %>
</div>

<div class='container-small'>
  <h1>Edit article</h1>

  <%= form_with model: @article do |a| %>
    <%= a.label :title %>
    <%= a.text_field :title, class: "form-control" %>
    <%= a.label :content %>
    <%= a.text_area :content, class: "form-control", rows: 3 %>
    <%= a.submit class: "btn btn-light" %>
  <% end %>
  <br>
  <%= link_to 'Back', articles_path, class: 'nb-links' %>
</div>
